/.bundle
/vendor/bundle
/public/system
/db/*.sqlite3
/config/development.sphinx.conf
/config/test.sphinx.conf
/db/sphinx
/log
/tmp
/.idea
/secure_content
*~
/db/schema.rb
/.sass-cache
/public/assets*
/config/unicorn_development.rb
/coverage
/db/old_dump/*
/db/old_forum_dump/*
.DS_Store
*.log
.rvmrc
*.swp
*.gem
